<section class="about">
  <div class="container">
    <h2 class="about-us">ABOUT US</h2>
    <h3 class="about-title">
      It’s our job to make your home feel like it belongs to you
    </h3>
    <p class="first-paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula,
      libero vel egestas fringilla, purus sit amet ante vel odio condimentum
      tortor.
    </p>
    <p class="second-paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a
      risus ac mauris cursus tempor at sit amet orci. Suspendisse vel laoreet
      mauris. Donec sit amet ante vel odio condimentum lobortis in nec ex.
      Curabitur varius iaculis vehicula. Vestibulum quis venenatis lorem at,
      suscipit vel mauris purus.Lorem ipsum dolor sit amet, consectetur
      adipiscing elit. Suspendisse a risus ac mauris cursus tempor at sit amet
      orci. Suspendisse vel laoreet mauris. Donec sit amet ante vel odio
      condimentum lobortis in nec ex. Curabitur varius iaculis vehicula.
      Vestibulum quis venenatis lorem at, suscipit vel mauris purus.
    </p>
    <ul class="images">
      <li class="image-item">
        <img src="../img/firstimage.jpg" alt="" />
        <p class="new">N E W</p>
        <p class="interior-Design">Interior Design</p>
        <p class="rooms">House Living Room</p>
      </li>
      <li class="image-item">
        <img src="../img/secondimage.jpg" alt="" />
        <p  class="new">N E W</p>
        <p class="architecture">Architecture</p>
        <p class="rooms">Ocean View House</p>
      </li>
      <li class="image-item">
        <img src="../img/thirdimage.jpg" alt="" />
        <p class="new">N E W</p>
        <p class="interior">Interior Design</p>
        <p class="rooms">House Dining Area</p>
      </li>
    </ul>
    <div class="decoration"></div>
</section>
