<section class="about">
  <div class="container">
    <h2 class="about-us">ABOUT US</h2>
    <h1 class="about-title">It’s our job to make your home feel like it belongs to you</h1>
    <p class="first-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula, libero vel egestas fringilla, purus sit amet ante vel odio condimentum tortor.</p>
    <p class="second-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a risus ac mauris cursus tempor at sit amet orci. Suspendisse vel laoreet mauris. Donec sit amet ante vel odio condimentum lobortis in nec ex. Curabitur varius iaculis vehicula. Vestibulum quis venenatis lorem at, suscipit vel mauris purus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a risus ac mauris cursus tempor at sit amet orci. Suspendisse vel laoreet mauris. Donec sit amet ante vel odio condimentum lobortis in nec ex. Curabitur varius iaculis vehicula. Vestibulum quis venenatis lorem at, suscipit vel mauris purus.</p>
    <div class="images">
      <img src="../img/firstimage.jpg" alt="">
      <img src="../img/secondimage.jpg" alt="">
      <img src="../img/thirdimage.jpg" alt="">
    </div>
    
  </div>