<section class="contaener section-footer">
<footer>
    <ul>
        <li>
            <a href="*"><img src="src/img/Layer 2.png" alt=""></a>
            <div>
                <a href="*">home</a>
                <a href="*">about</a>
                <a href="*">services</a>
                <a href="*">projects</a>
                <a href="*">news</a>
                <a href="*">contact</a>
            </div>
        </li>
        <li>
            <input type="Newsletter (Emter Email)">
            <button>Subscribe</button>
        </li>
        <li>
            <div>
                <a href="*">licensing</a>
                <a href="*">styles</a>
                <a href="*">changelog</a>
            </div>
            <div>
                <a href="*">powerd by</a>
                <a href="*">webflow.com</a>  
            </div>
        </li>
    </ul>
</footer>
</section>