<header>
    <div class="container">
        <div class="ds">
            <a class="header-logo-click" href="#">
                <img class="header-logo" src="../img/vantage-logo.svg" alt="vantage-logo">
            </a>
            <nav class="header-navigation">
                <a class="header-navigation-link" href="#">home</a>
                <a class="header-navigation-link" href="#">about</a>
                <a class="header-navigation-link" href="#">services</a>
                <a class="header-navigation-link" href="#">projects</a>
                <a class="header-navigation-link" href="#">news</a>
                <a class="header-navigation-link" href="#">contact</a>
            </nav>
        </div>
    </div>
</header>