<section class="hero">
    <div class="container">
        <img src="../img/main.hero.img.png" alt="Modern minimalist kitchen and dining room interior" class="hero-img" />    
        <ul class="hero-socials-wrapper">
            <li href="#" class="hero-socials">FACEBOOK</li>
            <li href="#" class="hero-socials">TWITTER</li>
            <li href="#" class="hero-socials">INSTAGRAM</li>
            <li href="#" class="hero-socials">PINTEREST</li>
        </ul>
        <div class="hero-card">
            <h1 class="hero-card-title">Your Vision, Our <br class="br"> Expertise!</h1>
            <p class="hero-card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vehicula, libero vel egestas fringilla.</p>
            <div class="card-btn-wrapper">
                <a href="#" class="hero-card-btn btn-gold">EXPLORE></a> 
                <a href="#" class="hero-card-btn btn-black">LET`S CHAT></a> 
            </div> 
        </div>
    </div>
</section>