<section class="services">
<h2 class="
title">services</h2>
</section>
<p class="text">Architecture is not simply a service, it is also an inspiration</p>
<ul class="cards-list">
    <li class="cards">
      <p class="list-title">Architecture</p>
      <p></p>
      <p class="list-text">Excepturi sed impedit mollitia dicta rerum vero aut in vel. Sed dolor enim voluptas.</p>
    </li>
    <li class="cards">
      <p class="list-title">Interior Design</p>
      <p></p>
      <p class="list-text">Excepturi sed impedit mollitia dicta rerum vero aut in vel. Sed dolor enim voluptas.</p>
    </li>
    <li class="cards">
      <p class="list-title">Master Planing</p>
      <p></p>
      <p class="list-text">Excepturi sed impedit mollitia dicta rerum vero aut in vel. Sed dolor enim voluptas.</p>
    </li>
    <li class="cards">
      <p class="list-title">Construction</p>
      <p></p>
      <p class="list-text">Excepturi sed impedit mollitia dicta rerum vero aut in vel. Sed dolor enim voluptas.</p>
    </li>
    <li class="cards">
      <p class="list-title">Energy Audit</p>
      <p></p>
      <p class="list-text">Excepturi sed impedit mollitia dicta rerum vero aut in vel. Sed dolor enim voluptas.</p>
    </li>
    <li class="cards">
      <p class="list-title">Documentation</p>
      <p></p>
      <p class="list-text">Excepturi sed impedit mollitia dicta rerum vero aut in vel. Sed dolor enim voluptas.</p>
    </li>
  </ul>
  <button class="btn">see all services</button>