@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

.hero-img{
    width: 978px;
    height: 590.91px;
}
.hero-socials-wrapper{
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    padding: 0;
    height: 68px;
    width: 814px;
    background-color: rgba(235, 235, 235, 1);
    position: absolute;
    bottom: -17px;
}
.hero-socials{
    padding-right: 36.95px;
    font-weight: 400;
    font-size: 12px;
}
.hero-card{
    width: 584px;
    height: 455px;
    border: 1px solid black;
    position: absolute;
    bottom: 130px;
    right: 20%;
    z-index: 2;
    background-color: white;
    
}
.hero::after{
    content: "";
    position: absolute;
    height: 329px;
    width: 489px;
    bottom: 1px;
    right: 17%;
    background-color: rgba(153, 130, 61, 1);
    z-index: 1;
}
.hero-card-title{
    font-family: 'Teko', sans-serif; 
    font-weight: 400;
    font-size: 67px;
    line-height: 70px;
    padding-top: 86px;
    padding-right: 99px;
    padding-left: 68px;
    margin: 0;
}
.hero-card-text{
    padding-left: 68px;
    padding-right: 81px;
}
.hero-card-btn{
    width: 216px;
    height: 68px;
    font-size: 12px;
}
.card-btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-gold{
    background-color: #99823D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 17px;
    letter-spacing: 2.97px;
}
.btn-black{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    letter-spacing: 2.97px;
}
.hero{
    height: 659px;
    width: 100%;
    background-color: rgba(20, 20, 20, 1);
    position: relative;
}